@import "tailwindcss";
@plugin "daisyui";

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*new addition*/
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


